/*_________________________________________________
Base css
------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
 *:before, 
 *:after {
    box-sizing: inherit;
}


body{
	color: #333;
	font: normal 14px/21px Arial, verdana, serif;
}

h1{
     font-size: 20px;
     line-height: 30px;

}

h2{


}


h3{


}

ul{


}

a{
	color: #99663;
}

/*-----------------------------------------

Masthead
<link href=" rel=stylesheet "

------------------------------------------*/

.masthead{

}

/*_________________________________________

 Site Footer
 __________________________________________*/


.site-footer {

}






